files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/100_deploy_war.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo mv /var/lib/tomcat8/webapps/ROOT/build/libs/*.war /var/lib/tomcat8/webapps/ROOT.war
      sudo rm -r /var/lib/tomcat8/webapps/ROOT
      sudo service tomcat8 restart

